<header class="site-header" role="banner">

  <div class="wrapper">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.data.l10n.title | escape }}</a>
    <div class=""buttons">
      {%- include button-theme.html -%}
      {%- include button-lang.html -%}

      {%- if page_paths -%}
        {%- include button-nav.html -%}
      {%- endif -%}
    </div>
  <script>{%- include scripts/dropdown-toggle.js -%}</script>
  </div>
</header>