
.message-box {
  background-color: var(--error-color);
  border: 1px solid var(--zero-color);
  height: $base-font-size + 20px;
  border-radius: $base-font-size;
  margin-bottom: 30px;
  text-align: center;
  p {
    margin-top: $base-font-size - 10px;
  }
}

.home-flags {
  height: $base-font-size;
  @include media-query($on-palm) {
    height: $base-font-size;
  }
}

.home-column {
  float:left;
  margin-right: 1%;
  width:32%;
  @include media-query($on-palm) {
    float:none;
    width: 100%;
    padding-bottom: 10px;
  }
}

.header-buttons {
  position: relative;
}


.site-lang {
  float: right;
  line-height: $base-line-height * $base-font-size * 2.25;

  .lang-trigger {
      display: none;
  }

  .lang-icon {
    display: none;
  }

  .page-link {
    color: var(--text-color);
    line-height: $base-line-height;

    // Gaps between lang items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

 // @include media-query($on-palm) {
    margin-left: 10px;
    position: absolute;
    top: 9px;
    right: 45px;
    background-color: var(--bg-color);
    border: 1px solid var(--grey-color-light);
    border-radius: 5px;
    text-align: right;

    label[for="lang-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .lang-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 7px;
      text-align: center;

      > svg {
        fill: var(--grey-color-dark);
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      margin-left: 20px;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
    }
 // }
}

.site-theme {
  float: right;
  line-height: $base-line-height * $base-font-size * 2.25;

  .theme-trigger {
      display: none;
  }

  .theme-icon {
    display: none;
  }

  .page-link {
    color: var(--text-color);
    line-height: $base-line-height;

    // Gaps between lang items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

 // @include media-query($on-palm) {
    margin-left: 10px;
    position: absolute;
    top: 9px;
    right: 0px;
    background-color: var(--bg-color);
    border: 1px solid var(--grey-color-light);
    border-radius: 5px;
    text-align: right;

    label[for="theme-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .theme-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 7px;
      padding-bottom: 3px;
      text-align: center;

      > svg {
        fill: var(--grey-color-dark);
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      margin-left: 20px;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
    }
 // }
}