:root {
	color-scheme: light dark;
}

.message-box {
    background-color: #FFCDD2;
    border: 1px solid #000000;
    border-radius: 10px;
    margin-bottom: 30px;
    text-align: center;
}

.column {
    float: left;
    width: 50%;
    }

.row:after {
    content: "";
    display: table;
    clear: both;
}