
.message-box {
    background-color: #FFCDD2;
    border: 1px solid #000000;
    border-radius: 10px;
    margin-bottom: 30px;
    text-align: center;
}

.column {
    float: left;
    width: 50%;
    }

.row:after {
    content: "";
    display: table;
    clear: both;
}

.site-lang {
  float: right;
  line-height: $base-line-height * $base-font-size * 2.25;

  .lang-trigger {
      display: none;
  }

  .lang-icon {
    display: none;
  }

  .page-link {
    color: var(--text-color);
    line-height: $base-line-height;

    // Gaps between lang items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

 // @include media-query($on-palm) {
    margin-left: 10px;
    position: relative;
    top: 9px;
    right: $spacing-unit* 0.75;
    background-color: var(--background-color);
    border: 1px solid var(--grey-color-light);
    border-radius: 5px;
    text-align: right;

    label[for="lang-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .lang-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 7px;
      text-align: center;

      > svg {
        fill: var(--grey-color-dark);
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      margin-left: 20px;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
    }
 // }
}

.site-theme {
  float: right;
  line-height: $base-line-height * $base-font-size * 2.25;

  .theme-trigger {
      display: none;
  }

  .theme-icon {
    display: none;
  }

  .page-link {
    color: var(--text-color);
    line-height: $base-line-height;

    // Gaps between lang items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

 // @include media-query($on-palm) {
    margin-left: 10px;
    position: relative;
    top: 9px;
    right: $spacing-unit* 0.75;
    background-color: var(--background-color);
    border: 1px solid var(--grey-color-light);
    border-radius: 5px;
    text-align: right;

    label[for="theme-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .theme-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 7px;
      padding-bottom: 3px;
      text-align: center;

      > svg {
        fill: var(--grey-color-dark);
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      margin-left: 20px;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
    }
 // }
}